<head>
<meta charset="UTF-8">
{% load staticfiles %}
<link rel="stylesheet" href="{% static "citationViewStyle.css" %}">

<script id="citationViewScriptMain">
//$( document ).ready(function() {
//	var checks =
	var tooltip = null
	d3.selectAll("li.checkboxItem2")
			.on("mouseover", function(d) {
				$(this).css('background', '#a6d0ef');
				var nodeID = this.getAttribute("id").split("_")[0]
				var foundNode = null
				var found = false
				$.each(graph.nodes, function(i, v) {
					if (v.id == nodeID) {
						found = true
						foundNode = v
						return;
					}
				});
				if(found){
//					alert(nodeID);
//					set_highlight_single(foundNode);
					highlight_node_function(foundNode)
//					alert(highlight_node_function)
				}else{
//					alert("Node " + nodeID + " not found.");
					var div = d3.select(this).append("div")
							.attr("class", "tooltip")
							.html(function (d) {
								return `
				<div id='citationNotice' style="display:inline;margin: 10px;padding-top: 10px;padding-bottom: 10px;font-size: 80%;">The node is not in the current explored graph. Please, increase the hop parameter by 1 to see it in the graph view.</div>
				`
							})
							.style("opacity", 0);
					tooltip = div
					tooltip.transition()
							.duration(200)
							.style("opacity", .9);
				}
//				set_highlight(d);
//				alert(this.getAttribute("id").split("-")[0])
			})
			.on("mouseout", function(d) {
				$(this).css('background', '#ffffff');
				exit_highlight_handle();
				tooltip.transition()
						.duration(500)
						.style("opacity", 0);
				tooltip.remove()
			})
//});
</script>
</head>
<body>
	<ul class="checklist2 cl2" id="citeList" style="overflow:auto;">
		{% for n in nodes_list %}
			<li
			class = "checkboxItem2"
			id ="{{n.0}}_row2">
				<b>"{{n.1}}"</b>, {{n.2}}, <i>{{n.3}}</i>, {{n.4}}. <a href="{{n.5}}" target="_blank">URL</a>
				<hr>
			</li>
		{% endfor %}
		<!--<li><label for="a2">-->
			<!--<input id="a2" name="a2" type="checkbox"> In posuere augue id velit-->
		<!--</label></li>-->
		<!--<li class="alt"><label for="a3">-->
			<!--<input id="a3" name="a3" type="checkbox"> Nullam a dui ac augue adipiscing sodales-->
		<!--</label></li>-->
		<!--<li><label for="a4">-->
			<!--<input id="a4" name="a4" type="checkbox"> Vivamus consectetuer ante eget urna-->
		<!--</label></li>-->
		<!--<li class="alt"><label for="a5">-->
			<!--<input id="a5" name="a5" type="checkbox"> Aliquam id felis cursus purus tristique condimentum-->
		<!--</label></li>-->
		<!--<li><label for="a6">-->
			<!--<input id="a6" name="a6" type="checkbox"> Suspendisse posuere lectus vitae velit consequat volutpat-->
		<!--</label></li>-->
		<!--<li class="alt"><label for="a7">-->
			<!--<input id="a7" name="a7" type="checkbox"> Fusce condimentum nulla et tortor.-->
		<!--</label></li>-->
		<!--<li><label for="a8">-->
			<!--<input id="a8" name="a8" type="checkbox"> Proin consequat faucibus mi-->
		<!--</label></li>-->
		<!--<li class="alt"><label for="a9">-->
			<!--<input id="a9" name="a9" type="checkbox"> Etiam a lectus quis massa viverra laoreet-->
		<!--</label></li>-->
		<!--<li><label for="a10">-->
			<!--<input id="a10" name="a10" type="checkbox"> Pellentesque gravida lorem vel odio-->
		<!--</label></li>-->
	</ul>
</body>